<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lunchfood">

    <!-- 인터넷 사용 권한 설정-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera2" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LunchFood"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:name=".ui.base.GlobalApplication">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lunchfood"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/KAKAO_APP_KEY"/>

        <activity android:name=".ui.main.view.IntroActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.view.KakaoLoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.view.AddressMappingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.main.view.KakaoMapActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.view.BridgeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.view.MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.main.view.history.MenuRegistActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.main.view.history.PlaceSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.view.history.MenuSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.view.MyPlaceActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth" android:scheme="@string/KAKAO_APP_KEY" />
            </intent-filter>
        </activity>
        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" android:enabled="true" />
    </application>

</manifest>